<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355502581271-0g7mcq7s9h7tsc496e7rn12ahp3puh3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355502581271-0g7mcq7s9h7tsc496e7rn12ahp3puh3r</string>
	<key>API_KEY</key>
	<string>AIzaSyBIQ0l0g2XXWaGbQII3DJWOM9Dmo-d0U8U</string>
	<key>GCM_SENDER_ID</key>
	<string>355502581271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.albertai.freshly</string>
	<key>PROJECT_ID</key>
	<string>freshly-5ca37</string>
	<key>STORAGE_BUCKET</key>
	<string>freshly-5ca37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355502581271:ios:e88a889206c51af0d69e52</string>
</dict>
</plist>